@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.87 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  /* ORIGINAL */
  /* --color-primary-900: #260101;
  --color-primary-700: #400101;
  --color-primary-600: #590209;
  --color-primary-500: #73020c; */

  --color-primary-900: #300a0e;
  --color-primary-700: #52141b;
  --color-primary-600: #731d26;
  --color-primary-500: #8b1f28;

  /* ORIGINAL */
  /* --color-secondary-500: #632121;
  --color-secondary-400: #723333; */

  --color-secondary-500: #6b1a20;
  --color-secondary-400: #822930;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* BUG SCROLLBAR FIX SHADCN SELECT*/
html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

/* CALENDAR */

.react-calendar {
  @apply overflow-hidden rounded-lg border border-neutral-300 bg-white p-4 text-lg text-neutral-900;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  @apply box-border;
}

.react-calendar button:enabled:hover {
  @apply cursor-pointer;
}

.react-calendar__navigation {
  @apply flex h-11;
}

.react-calendar__navigation__label__labelText {
  @apply capitalize;
}

.react-calendar__navigation button {
  @apply min-w-11 rounded bg-none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  @apply bg-neutral-100;
}

.react-calendar__month-view__weekdays {
  @apply text-center text-xs font-bold capitalize sm:text-sm md:text-base;
}

abbr:where([title]) {
  @apply !no-underline;
}

.react-calendar__month-view__weekdays__weekday {
  @apply p-[0.5em];
}

.react-calendar__tile {
  @apply max-w-full rounded px-2 py-[10px] text-center text-xs sm:text-sm md:text-base;
}

.red-tiles {
  @apply text-red-800;
}

.react-calendar__tile:disabled {
  @apply line-through opacity-50;
}

.react-calendar__month-view__days__day--neighboringMonth {
  @apply opacity-30;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  @apply bg-neutral-100;
}

.react-calendar__tile--now {
  @apply font-bold;
}

.react-calendar__tile--active {
  @apply rounded bg-green-700/70 text-white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  @apply rounded bg-green-700/70 text-white;
}

.red-tiles.react-calendar__tile--active {
  @apply bg-secondary-400 rounded text-white;
}

.red-tiles.react-calendar__tile--active:enabled:hover,
.red-tiles.react-calendar__tile--active:enabled:focus {
  @apply bg-secondary-400 rounded text-white;
}

.react-calendar__navigation__arrow {
  @apply grid place-items-center font-mono text-xl leading-[1];
}

.react-calendar__navigation__arrow:disabled {
  @apply opacity-0;
}

.react-calendar__navigation__prev2-button {
  @apply hidden;
}

.react-calendar__navigation__next2-button {
  @apply hidden;
}
